@mixin pager($bg-color:#1a1a1a, $color:#F4D102){
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1a1a1a;
  width: 27px;
  height: 27px;
  margin: 0 2.5px 0;
  font-size: 6px;
  font-weight: 600;
  transition: opacity .3s;
  background-color: $bg-color;
  color: $color;
}
