.works_details{
  @include pc {
    font-size: 20px;
  }
  @include tab {
    font-size: 20px;
  }
  @include sp {
    font-size: 16px;
  }
  .works_link_img{
    position: relative;
    display: block;
    margin: 40px auto;
    width: 80%;
    overflow: hidden;
    .works_img{
      width: 100%;
      height: auto;
      transition: transform .3s;
    }
    .works_txt{
      color: $txt_color_white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .3s;
      z-index: 20;
      font-size: 24px;
      @include sp {
        font-size: 20px;
      }
    }
    &:hover{
      .works_img{
        transform: scale(1.2,1.2);
      }
      .works_txt{
        opacity: 1;
      }
      //マスクが出る。
      &::before{
        opacity: 1;
      }
    }
    //マスクの設定
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      opacity: 0;
      transition: opacity .5s;
      background-color: rgba(#525252, $alpha: 0.5);
    }
  }
  // マスク無し
  .works_img{
    position: relative;
    display: block;
    margin: 40px auto;
    width: 80%;
    overflow: hidden;
    .works_img{
      width: 100%;
      height: auto;
      transition: transform .3s;
    }
  }
  
  .section_ttl{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .works_details_table{
    margin: 0 auto 40px;
    width: 100%;
    max-width: 700px;
    .works_details_tr{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 0;
    }
    .works_details_tr:last-child{
      align-items: flex-start;
    }
    .works_details_ttl{
      font-weight: 100;
      @include pc {
        width: 200px;
      }
      @include tab {
        width: 200px;
      }
      @include sp {
        width: 100px;
      }
    }
    .works_details_data{
      flex: 1;
      width: auto;
      line-height: 20px;
      font-family: Noto Sans JP;
    }
    .works_details_txt{
      line-height: 1.4;
    }
    .works_skill_list{
      display: flex;
      flex-wrap: wrap;
      .works_skill_items{
        margin-right: 20px;
      }
      .works_skill_img{
        width: 40px;
        @include sp {
          width: 26px;
        }
      }
    }
    .works_details_copyright{
      color: blue;
      border-bottom: 1px solid blue;
      
      &:hover{
        opacity: 0.6;
      }
    }
  }
  .more_news{
    margin: 0 auto 40px;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    .more_news_content{
      display: flex;
      // flex: 1;
      align-items: center;
      width: auto;
      padding:  0;
      transition: .3s;
      &.prev{
        justify-content: flex-end;
      }
    }
    .more_news_content:hover{
      transform: translatey(-6px);
      // opacity: .6;
      color: $accent_color2;
    }
    .more_news_txt{
      font-size: 20px;
    }
    .more_news_arrow{
      width: 33px;
    }
    .more_news_content:hover{
      .more_news_arrow,.more_news_date,.more_news_text{
        opacity: 0.8;
      }
    }
    .empty_works{
      flex: 1;
    }
  }
  .common_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    @include common_btn($width:120px);
    .common_btn:nth-of-type(2){
      margin-left: 40px;
    }
  }
}