$txt_color_black: #333;
$txt_color_white: #efefef;
$btn_color_black: #333;
$btn_color_white: #fff;
$base_color_black: #333;
$base_color_white: #f6f3eb;
$accent_color: #BBC9E2;
$accent_color2: #763626;



